# 2024-1-17 Removed Pygments,python-genutils and ipython 
# Also removed jedi. why autocomplete?? jedi==0.19.1
#Why? prompt-toolkit==3.0.43

#Did not try updating (maybe nexttime)
#protobuf==3.15.0 #4.25.2 
protobuf==4.25.2 

#Floowing Updated to latest 2024-1-17:
certifi==2024.7.4
backcall==0.2.0
chardet==5.2.0
click==8.1.7
decorator==5.1.1
ffmpy==0.3.1
grpcio==1.60.0
grpcio-tools==1.60.0
idna==3.7
KalturaApiClient==19.3.0
lxml==5.1.0
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
ptyprocess==0.7.0
requests==2.31.0
requests-toolbelt==1.0.0
six==1.16.0
tqdm==4.66.3
traitlets==4.3.3
urllib3==2.2.2
wcwidth==0.2.13

# Not versioned
numpy
pytube     # if not available, use the tar.gz package (see Dockerfile)


# protobuf version 3.18.3 causes  NotImplementedError("To be implemented") in PythonRpcServer/mediaprovider.py
# Likely need to coordinate updating the C# version too


#############
# Gone
#ipython==7.16.3
#ipython-genutils==0.2.0
# Pygments==2.7.4

# No longer needed for remaning pythonrpcserver tasks
#scenedetect==0.5.2
#scikit-image==0.17.2
#nltk==3.6.6
#pytesseract==0.3.7
#prefixspan==0.5.2
#opencv-contrib-python==4.5.3.56
#mtcnn-opencv==1.0.2
#decord==0.6.0
#opencv-python==4.2.0.34; replaced by opencv-contrib-python
#
